<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Articles</title>
</head>
<body>

<div class="articles">
    <% articles.forEach(function(article){ %>
    <div class="article">
        <h2><%= article.title %></h2>
        <%- article.text %>
        <div class="article-time">Hozzádva: <%= article.createdAt %></div>
    </div>
    <% }); %>
</div>

</body>
</html>